* {
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  body {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
h1{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: black;
}
.img-fluid{
    width: 40px;
    height: 40px;
}
h5{
    color: black;
    font-size: 23px;
}
p{
    font-size: 20px;
    color: black;
}
form label{
    font-size: 30px;
}
header div{
    background-color: #ce0033;
    height: 60px;
}
:placeholder-shown{
    font-size: 20px;
}
select{
    font-size: 20px;
    height: 60px;
}
select option{
    font-size: 20px;
}
input{
    height: 60px;
}
textarea{
    height: 250px;
}
#formeHelp{
    font-size: 18px;
}
.card-link{
    font-size: 20px;
}
